<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <% if @cart %>
        <div id="cart">
          <%= render_if(@cart && @cart.line_items.any?, @cart) %>
        </div>
        <% end %>
        <ul>
          <li><a href="http://www....">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
        </ul>
        <p><%= Time.now.strftime("%d.%m.%Y") %></p>
      </div>
      <div id="main" class="<%= controller.controller_name %>-for-channel">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

